<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <p>
      <img width="100" [src]="imagePreview">
    </p>
    <input type="file" #imageInput (change)="onImageSelected()">
  </div>
  <mat-form-field>
    <input matInput formControlName="title" placeholder="Title">
    <mat-error *ngIf="form.controls.title.invalid">
      {{(messages|async)?.validation.required}}
    </mat-error>
  </mat-form-field>
  <div>
    <button type="submit" mat-button mat-stroked-button color="primary">{{btnText}}</button>
    <button type="button" *ngIf="form.dirty || hotdog" (click)="onClear()"
            mat-button mat-stroked-button color="secondary">Clear
    </button>
  </div>

</form>

